<style>
    body {
        background: url("https://1721181113.rsc.cdn77.org/data/images/full/35332/nasa-earth-observatory-image-by-lauren-dauphin-using-goes-16-imagery-courtesy-of-noaa-and-the-national-environmental-satellite-data-and-information-service-nesdis.jpg") no-repeat;
        overflow: hidden;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
      }
      #cardback{
        background: url("https://s.w-x.co/staticmaps/WEB_Current_Weather_Map_1280x720.jpg?crop=16:9&width=800&format=pjpg&auto=webp&quality=60") no-repeat;
        overflow: hidden;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
      }
    
    
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
    div h1{
            /* changes the font and background color of the whole webpage **/
            font-family: 'Comfortaa', normal;
    }
  
h1{
    margin: auto;
    top: 500%;
    bottom: 100px;
    left: 100%;
    margin-right: 100;
    width: 50;
    }
    </style>
    
    
    
    
    <body>
      <div class="container" >
        <div class="row no-gutters">
          <div class="col-md-1 padding-0">
            <div class="card text-white bg-dark mb-3" style="width: 70rem; text-align: center; ">
              <div class="card-body" >
               <h1 style="font-size:25px">Welcome to the Weather app Sign in or select a Zipcode to get started!!</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>


